@charset "UTF-8";
/*----------------BASE GRAPHIQUE----------------*/
/*Color*/
/*Font*/
/*weight*/
/*------SIZE------*/
/*--------------------- Mediaqueries------------------*/
/*@media screen and (min-width : 992px){}  <-9 pouces*/
/*@media screen and (min-width: 480px) and (max-width : 991px){}  <-tablette*/
/*@media screen and (max-width: 479px){}smartphone*/
/*------------------------*/
@media screen and (min-width : 992px) {
  body {
    margin: 0 auto;
    overflow-x: hidden;
  }
  body .container {
    max-width: 990px;
    margin: auto;
  }
  section {
    padding-top: 5%;
  }
  .building {
    background-image: url(media/header-desk.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

/*-----------------Base-------------------------*/
body {
  background-color: black;
  margin: 0 auto;
  font-family: "Merriweather", serif;
  color: white;
  overflow-x: hidden;
}

body .container {
  max-width: 1280px;
  margin: auto;
}

h1 {
  right: 25%;
  color: #FFAC0A;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

h1 span {
  font-weight: 500;
  letter-spacing: 0.5rem;
  font-size: 2.25rem;
  color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #FFAC0A;
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #FFAC0A;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #FFAC0A;
}

li {
  list-style: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

section {
  padding-top: 15%;
}

/*---------------------Header---------------------------*/
.building {
  background-image: url(media/header-desk.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
}

.transparent-block {
  width: 45.625rem;
  height: 19.375rem;
  background-color: rgba(0, 0, 0, 0.836);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*------------Circle Mouse---------------*/
.circle {
  z-index: 100;
  width: 300px;
  height: 300px;
  background-image: url(media/cercle.png);
  pointer-events: none;
  position: absolute;
  mix-blend-mode: difference;
}

/*--------------------------Barre de navigation-----------------*/
.upper-bar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 98;
  max-width: 1280px;
  background-color: rgba(0, 0, 0, 0.836);
}

.upper-bar p {
  margin-bottom: 0.3rem;
}

.logo {
  background-image: url(media/logo-LD-fond-blanc.gif);
  background-size: 80%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
}

/*--------------------Burger-------------------*/
.burger {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*le menu caché*/
nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  right: 1px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .600s ease-in-out;
  transition: -webkit-transform .600s ease-in-out;
  transition: transform .600s ease-in-out;
  transition: transform .600s ease-in-out, -webkit-transform .600s ease-in-out;
  overflow: hidden;
  z-index: 99;
}

nav p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: right;
  margin-right: 1rem;
  padding-right: 2rem;
}

nav ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

nav ul li {
  line-height: 3;
}

nav.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .600s ease-in-out;
  transition: -webkit-transform .600s ease-in-out;
  transition: transform .600s ease-in-out;
  transition: transform .600s ease-in-out, -webkit-transform .600s ease-in-out;
}

/*-------------------------------A Propos-------------------------------*/
#qui-suis-je {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.about {
  width: 50%;
  padding: 1rem;
}

.flex-competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo {
  background-image: url(media/photo_cv.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: left;
  width: 50%;
}

.competence-web {
  width: 0;
  height: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.836);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-transition: width .600s ease-in-out, height .600s ease-in-out;
  transition: width .600s ease-in-out, height .600s ease-in-out;
}

.competence-web i {
  font-size: 3.5rem;
  padding: 1rem;
}

.competence-design {
  width: 0;
  height: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.836);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-transition: width .600s ease-in-out, height .600s ease-in-out;
  transition: width .600s ease-in-out, height .600s ease-in-out;
}

.show-web, .show-design {
  width: 100%;
  height: 100%;
  -webkit-transition: width .600s ease-in-out, height .600s ease-in-out;
  transition: width .600s ease-in-out, height .600s ease-in-out;
}

.vagrant {
  padding: 1rem;
}

.btn-web, .btn-design, .lien {
  padding: 0.5rem;
  border: 2px solid white;
}

.btn-web:hover, .btn-design:hover, .lien:hover {
  background-color: white;
  color: black;
}

/*---------------------------Projet------------------------------*/
#projets h2 {
  text-align: center;
  padding-bottom: 5%;
}

/* Style the buttons */
#btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem 5rem;
  background-color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem;
  color: black;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #FFAC0A;
  color: black;
}

/*affichage gallerie*/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*affichage des miniatures*/
.picture {
  width: 20rem;
  height: auto;
  padding: 0.5rem;
  overflow: hidden;
}

.graph-pic, .web-pic {
  width: 20rem;
  height: 20rem;
  padding: 0.5rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .600s ease-in-out;
  transition: .600s ease-in-out;
  overflow: hidden;
}

.web-pic.suppr {
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
}

.graph-pic.suppr {
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
  position: absolute;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

/*-------------------------modals-------------------*/
.dashboard, .multiplication {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  margin: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .800s ease-in-out;
  transition: -webkit-transform .800s ease-in-out;
  transition: transform .800s ease-in-out;
  transition: transform .800s ease-in-out, -webkit-transform .800s ease-in-out;
}

.dashboard p > a > img, .multiplication p > a > img {
  margin-top: 20%;
  width: 30rem;
  height: auto;
  padding: 1rem;
}

.chess-castle, .collage {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  margin: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .800s ease-in-out;
  transition: -webkit-transform .800s ease-in-out;
  transition: transform .800s ease-in-out;
  transition: transform .800s ease-in-out, -webkit-transform .800s ease-in-out;
}

.chess-castle p > img, .collage p > img {
  margin-top: 20%;
  width: 30rem;
  height: auto;
  padding: 1rem;
}

.musique, .rechauffement {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  margin: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .800s ease-in-out;
  transition: -webkit-transform .800s ease-in-out;
  transition: transform .800s ease-in-out;
  transition: transform .800s ease-in-out, -webkit-transform .800s ease-in-out;
}

.musique p > img, .rechauffement p > img {
  margin-top: 5%;
  width: 25rem;
  height: auto;
  padding: 1rem;
}

.close {
  text-align: right;
  font-size: 2.25rem;
}

.projet-texte {
  padding: 1rem;
  width: 50%;
}

.projet-texte p {
  max-width: 30rem;
}

.hidden {
  overflow: hidden;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
  -webkit-transition: -webkit-transform .800s ease-in-out;
  transition: -webkit-transform .800s ease-in-out;
  transition: transform .800s ease-in-out;
  transition: transform .800s ease-in-out, -webkit-transform .800s ease-in-out;
}

/*--------------***************-------------Contact----------------**************--------------*/
#contact {
  margin-bottom: 10%;
  text-align: center;
}

#contact h2 {
  text-align: center;
  padding-bottom: 2rem;
}

#contact p {
  text-align: center;
  line-height: 3;
  font-weight: 700;
  font-size: 1.5rem;
}

#contact p a {
  border: 2px solid white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#contact p a:hover {
  background-color: white;
  color: black;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */