/*--------------------- Mediaqueries------------------*/
/*@media screen and (min-width : 992px){}  <-9 pouces*/
$desktop : "screen and (min-width : 992px)";
/*@media screen and (min-width: 480px) and (max-width : 991px){}  <-tablette*/
$tablette : "screen and (min-width: 768px) and (max-width : 991px)";
$mini-tablette : "screen and (min-width: 480px) and (max-width : 767px)";
/*@media screen and (max-width: 479px){}smartphone*/
$smartphone : "screen and (max-width: 479px)";

/*------------------------*/

@media#{$desktop}{
    body{
        margin : 0 auto;  
        overflow-x: hidden;
        .container{
            max-width: 990px;
            margin: auto; 
        }
    }
    section{
        padding-top : 5%;
    }
    .building{
        background-image: url(media/header-desk.png);
        background-repeat: no-repeat;
        background-position: center;
        width : 100%;
        height : 100vh;
        display: flex;
        justify-content: right;
        align-content: center;
    }
}