/*----------------BASE GRAPHIQUE----------------*/
/*Color*/
$yellow : #FFAC0A;
$transparent-black : rgba(0, 0, 0, 0.836);
$dark-grey : rgb(31, 31, 31);
/*Font*/
$titles-family : 'Montserrat', sans-serif;
$body-txt-family :  'Merriweather', serif;
/*weight*/
$light : 300;
$regular : 400;
$medium: 500;
$semi-bold: 600;
$bold : 700;
$extra-bold : 800;
$black : 900;
/*------SIZE------*/
$size16: 1rem;
$size64: 4rem;
$size36: 2.25rem;
/*--------------------- Mediaqueries------------------*/
/*@media screen and (min-width : 992px){}  <-9 pouces*/
$desktop : "screen and (min-width : 992px)";
/*@media screen and (min-width: 480px) and (max-width : 991px){}  <-tablette*/
$tablette : "screen and (min-width: 768px) and (max-width : 991px)";
$mini-tablette : "screen and (min-width: 480px) and (max-width : 767px)";
/*@media screen and (max-width: 479px){}smartphone*/
$smartphone : "screen and (max-width: 479px)";


